$props = {
  dribbble: 50vh -50vh
  insta: 50vh 50vh
  facebook: -50vh 50vh
  twitter: -50vh -50vh
}

.content
  margin 0 auto
  height 100%
  position relative

.dialog
  opacity 0
  visibility hidden
  transition-duration: .7s
  margin auto
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  width 320px
  height 250px
  border-radius 10px
  background-color #ffffff
  display grid
  grid-template-columns 50% 50%
  grid-template-rows 50% 50% 

  /* box-shadow */
  box-shadow 0px 3px 6px 0px rgba(0, 0, 0, 0.16)
  
  .icon
    margin auto

  for name in $props
    .icn-{name}
      animation unquote('anime-out-' + name) .7s ease-out

#dialog-state:checked + .dialog
  opacity 1
  visibility visible
  for name in $props
    .icn-{name}
      animation unquote('anime-in-' + name) .7s ease-out

#dialog-state
  display: none;

.share-button
  position absolute
  bottom 40px
  left 50%
  margin 0 auto
  transform: translate(-50%, 0);

  button
    border none

for name, pos in $props
  @keyframes anime-in-{name}
    0%
      transform translate(pos[0], pos[1])

for name, pos in $props
  @keyframes anime-out-{name}
    100%
      transform translate(pos[0], pos[1])